footer {
  padding-bottom: 3.25rem;
  color: var(--neutral-500);
  font-size: 0.75rem;
}
.footer-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem 0.8rem;
}

.copy {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.copy select {
  background-color: transparent;
  border: transparent;
  color: var(--neutral-500);
}
